RosSharp.NET40/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:RosSharp" elementFormDefault="qualified" targetNamespace="urn:RosSharp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rossharp" type="tns:RosSharp.ConfigurationSectionCT" />
	<xs:complexType name="RosSharp.ConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="ROS_MASTER_URI" type="tns:RosSharp.RosMasterUriCT">
				<xs:annotation>
					<xs:documentation>The MasterUri.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ROS_HOSTNAME" type="tns:RosSharp.RosHostNameCT">
				<xs:annotation>
					<xs:documentation>The HostName.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="XMLRPC_TIMEOUT" type="tns:RosSharp.XmlRpcTimeoutCT">
				<xs:annotation>
					<xs:documentation>The XmlRpcTimeout.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SOCKET_TIMEOUT" type="tns:RosSharp.SocketTimeoutCT">
				<xs:annotation>
					<xs:documentation>The SocketTimeout.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RosSharp.RosHostNameCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RosSharp.RosMasterUriCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RosSharp.XmlRpcTimeoutCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RosSharp.SocketTimeoutCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
